html {
    scroll-behavior: smooth;
}


.parallax {
    /* The image used */
    background-image: url(./images/tattoo\ studio\ 2.jpg);
  
    /* Set a specific height */
    min-height: 700px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#tattoo{
    background-image: url(./images/tattoo\ girl.jpg);
    min-height: 600px
}